@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Bold.ttf");
  font-weight: bold;
}

:root {
  /* Colors */
  --hue: 220;
  --success-hue: 165;
  --warning-hue: 30;
  --error-hue: 0;

  --primary: hsl(var(--hue), 60%, 50%);
  --primary-hover: hsl(var(--hue), 65%, 60%);
  --primary-focus: hsl(var(--hue), 60%, 55%);
  --primary-pressed: hsl(var(--hue), 60%, 45%);
  --primary-text: white;

  --secondary: hsl(var(--hue), 55%, 95%);
  --secondary-hover: hsl(var(--hue), 75%, 97%);
  --secondary-focus: hsl(var(--hue), 92%, 95%);
  --secondary-pressed: hsl(var(--hue), 50%, 90%);

  --outline: hsla(var(--hue), 60%, 50%, 0.2);
  --outline-primary: hsla(var(--hue), 90%, 50%, 0.75);

  --background: hsl(var(--hue), 0%, 97%);
  --surface: white;

  --text: hsl(var(--hue), 30%, 45%);
  --text-headings: hsl(var(--hue), 60%, 45%);
  --text-controls: hsl(var(--hue), 40%, 50%);
  --text-label: hsl(var(--hue), 39%, 50%);
  --text-placeholder: hsl(var(--hue), 30%, 70%);

  --input-background: hsl(var(--hue), 40%, 97%);
  --input-hover-background: hsl(var(--hue), 80%, 98%);
  --input-focus-background: hsl(var(--hue), 100%, 97%);

  --alert-background: hsl(var(--hue), 40%, 98%);
  --alert-title: hsl(var(--hue), 50%, 50%);
  --alert-body: var(--text);

  --alert-success-background: hsl(var(--success-hue), 40%, 98%);
  --alert-success-title: hsl(var(--success-hue), 60%, 30%);
  --alert-success-body: hsl(var(--success-hue), 30%, 35%);

  --alert-warning-background: hsl(var(--warning-hue), 40%, 98%);
  --alert-warning-title: hsl(var(--warning-hue), 60%, 45%);
  --alert-warning-body: hsl(var(--warning-hue), 40%, 50%);

  --alert-error-background: hsl(var(--error-hue), 40%, 98%);
  --alert-error-title: hsl(var(--error-hue), 60%, 40%);
  --alert-error-body: hsl(var(--error-hue), 30%, 45%);

  /* Typography */
  --text-size: 1em;
  --text-size-l: 1.5em;
  --text-size-xl: 2em;
  --text-size-xxl: 3em;

  /* Spacing */
  --space-s: 1em;
  --space: 1.5em;
  --space-l: 2em;
  --space-xl: 2.5em;
  --space-xxl: 4em;

  --radius: 0.35em;
  --radius-l: 0.5em;
  --radius-xl: 0.75em;
}

/* Utilities */

.column {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}

.size-l {
  font-size: 1.125em;
}

.size-xl {
  font-size: 1.25em;
}

.pad-0 {
  padding: 0;
}

.pad {
  padding: var(--space);
}

.pad-l {
  padding: var(--space-l);
}

.pad-xl {
  padding: var(--space-xl);
}

.pad-xxl {
  padding: var(--space-xxl);
}

.gap-0 {
  gap: 0;
}

.gap-s {
  gap: var(--space-s);
}

.gap {
  gap: var(--space);
}

.gap-l {
  gap: var(--space-l);
}

.gap-xl {
  gap: var(--space-xl);
}

.gap-xxl {
  gap: var(--space-xxl);
}

.text-block {
  display: block;
  flex-direction: column;
  gap: 0;
}

.align-center {
  justify-content: center;
}

.align-end {
  justify-content: end;
}

.force-wrap {
  word-break: break-all;
}

.w-20 {
  width: 20em;
}

.w-30 {
  width: 30em;
}

.weight-normal {
  font-weight: normal;
}

.weight-medium {
  font-weight: 600;
}

/* Elements */

* {
  transition: background-color 0.2s, color 0.2s;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  color: var(--text-headings);
}

.text-block > h1,
.text-block > .h1,
.text-block > h2,
.text-block > .h2,
.text-block > h3,
.text-block > .h3,
.text-block > h4,
.text-block > .h4,
.text-block > h5,
.text-block > .h5,
.text-block > h6,
.text-block > .h6 {
  margin: 1.25em 0 0.125em;
}

.text-block > h1:first-child,
.text-block > .h1:first-child,
.text-block > h2:first-child,
.text-block > .h2:first-child,
.text-block > h3:first-child,
.text-block > .h3:first-child,
.text-block > h4:first-child,
.text-block > .h4:first-child,
.text-block > h5:first-child,
.text-block > .h5:first-child,
.text-block > h6:first-child,
.text-block > .h6:first-child {
  margin-top: 1rem;
}

p {
  margin: 0;
}

.text-block > p {
  margin: 1em 0;
}

p {
  max-width: 40em;
}

h1 {
  font-size: var(--text-size-xxl);
}

h2 {
  font-size: var(--text-size-xl);
}

h3 {
  font-size: var(--text-size-l);
}

h4,
h5,
h6 {
  font-size: var(--text-size);
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--text-label);
}

label:focus-within {
  color: var(--primary);
}

input,
textarea,
.input,
.textarea {
  border-radius: var(--radius);
  border: none;
  color: var(--text-controls);
  background-color: var(--input-background);
}

input,
.input {
  padding: 0.5em 1em;
}

textarea,
.textarea {
  padding: 1em;
  overflow: visible;
  height: fit-content;
  min-height: 10em;
  resize: none;
}

input:hover,
textarea:hover {
  background-color: var(--input-hover-background);
}

input:focus,
textarea:focus {
  background-color: var(--input-focus-background);
  outline: var(--outline) solid 1px;
}

input[type="button"],
input[type="submit"],
button {
  padding: 0.5em 1em;
  border-radius: var(--radius);
  border: none;
  background-color: var(--primary);
  color: var(--primary-text);
  cursor: pointer;
}

input[type="button"]:focus,
input[type="submit"]:focus,
button:focus {
  background-color: var(--primary-focus);
  outline: var(--outline-primary) solid 0.5px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
  background-color: var(--primary-hover);
}

input[type="button"]:active,
input[type="submit"]:active,
button:active {
  background-color: var(--primary-pressed);
}

input[type="button"].secondary,
input[type="submit"].secondary,
button.secondary {
  background-color: var(--secondary);
  color: var(--text-controls);
}

input[type="button"].secondary:hover,
input[type="submit"].secondary:hover,
button.secondary:hover {
  background-color: var(--secondary-hover);
}

input[type="button"].secondary:focus,
input[type="submit"].secondary:focus,
button.secondary:focus {
  background-color: var(--secondary-focus);
  outline: var(--outline) solid 0.5px;
}

input[type="button"].secondary:active,
input[type="submit"].secondary:active,
button.secondary:active {
  background-color: var(--secondary-pressed);
}

form.column {
  max-width: 25em;
}

.alert {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) / 4);
  padding: 1em;
  border-radius: var(--radius);
  color: var(--alert-body);
  background-color: var(--alert-background);
}

.alert.error {
  color: var(--alert-error-body);
  background-color: var(--alert-error-background);
  --text-headings: var(--alert-error-title);
}

.surface {
  background-color: var(--surface);
  border-radius: var(--radius);
}
