@use "sass:map";
@use "sass:color";
@use "sass:math";

@font-face {
  font-family: "JetBrainsMono";
  src: url("./static/fonts/JetBrainsMono-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("./static/fonts/JetBrainsMono-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url("./static/fonts/Inter-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./static/fonts/Inter-Bold.ttf");
  font-weight: bold;
}

$color-action: #ad002a;
$color-accent: #0033ad;
$color-text: #000000;
$color-secondary: rgb(0, 0, 0, 0.5);
$color-background: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  padding: 40px;
  background: $color-background;

  font-family: "Inter", sans-serif;

  display: flex;
  flex-direction: column;
  gap: 64px;
}

.mono {
  font-family: "JetBrainsMono", monospace;
}

.superrow {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: start;
  gap: 32px;
}

.superrow>* {
  flex-grow: 1;
  width: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  gap: 32px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 28px;

  .heading {
    font-weight: bold;
  }
}

.button {
  @extend %focus-outline;

  font-size: 15px;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  align-items: center;

  --color: #{$color-action};
  color: var(--color);

  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  gap: 5px;

  .icon {
    height: 17px;
    width: 17px;
    mask-size: 17px;

    background-color: var(--color);
  }

  &:hover {
    --color: #{color.scale($color-action, $lightness: 10%)};
  }

  &:active {
    --color: #{color.scale($color-action, $lightness: -10%)};
  }

  &.-secondary {
    --color: #{$color-secondary};

    &:hover {
      --color: #{color.scale($color-secondary, $lightness: 10%)};
    }

    &:active {
      --color: #{color.scale($color-secondary, $lightness: -10%)};
    }
  }
}

%focus-outline {

  &:focus,
  &:focus-visible {
    outline: dashed 2px $color-action;
    outline-offset: 2px;
  }

  &:not(:focus-visible) {
    outline: none;
  }
}

// Header

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 18px;

  img {
    height: 64px;
    object-fit: contain;
  }
}

.logo-text-box {
  display: flex;
  flex-direction: column;

  color: $color-accent;
}

.logo-title {
  font-size: 32px;
  font-weight: bold;
}

.logo-subtitle {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 18%;
}

.header-nav {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}

.nav-item {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  padding-bottom: 5px;
  border-bottom: solid 2px transparent;

  cursor: pointer;

  &.-active,
  &:hover {
    border-bottom-color: $color-action;
  }
}

// Utility

.color-accent {
  color: $color-accent;
}

.color-action {
  color: $color-action;
}

.color-text {
  color: $color-text;
}

.color-secondary {
  color: $color-secondary;
}

.label {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.label-sub {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.label-mono {
  @extend .mono;
  @extend .color-secondary;

  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.label-mono-sub {
  @extend .mono;
  @extend .color-secondary;

  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.currency {
  display: flex;
  flex-direction: row;
  gap: 8px;

  align-items: baseline;

  .-amount {
    @extend .L1;
  }

  .-unit {
    @extend .color-accent;
    @extend .L2;
  }
}

.currency.-small {
  .-amount {
    @extend .L2;
  }

  .-unit {
    @extend .L3;
  }
}

.currency.-xsmall {
  .-amount {
    @extend .L3;
  }

  .-unit {
    @extend .L4;
  }
}

.L1 {
  font-weight: bold;
  font-size: 48px;
}

.L2 {
  font-weight: bold;
  font-size: 32px;
}

.L3 {
  font-weight: bold;
  font-size: 22px;
}

.L4 {
  font-weight: bold;
  font-size: 15px;
}

.icon {
  @each $icon in "edit", "close", "save", "add", "visible", "hidden", "expand-left", "expand-right", "expand-up", "expand-down" {
    &.-#{$icon} {
      mask-image: url("static/icons/#{$icon}.svg");
    }
  }
}

input {
  width: fit-content;
  padding-bottom: 4px;
  border-bottom: dashed 2px color.scale($color-action, $alpha: -80%);

  &:hover,
  &:focus {
    border-bottom: dashed 2px $color-action;
    outline: none;
  }

  &:read-only {
    border-bottom: solid 2px transparent;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.hidden {
  visibility: hidden;
}

.faded {
  opacity: 50%;
}
